@let c = bookForm.controls;

<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  @let titleInvalid = isInvalid(c.title);
  <label for="title">Title</label>
  <input
    type="text"
    id="title"
    [formControl]="c.title"
    [attr.aria-describedby]="titleInvalid ? 'title-error' : null"
    [attr.aria-invalid]="titleInvalid"
  />
  @if (titleInvalid) {
  <small id="title-error">The title is invalid.</small>
  }

  <label for="subtitle">Subtitle</label>
  <input type="text" id="subtitle" [formControl]="c.subtitle" />

  @let isbnInvalid = isInvalid(c.isbn);
  <label for="isbn">ISBN</label>
  <input
    type="text"
    id="isbn"
    [formControl]="c.isbn"
    [attr.aria-describedby]="isbnInvalid ? 'isbn-error' : null"
    [attr.aria-invalid]="isbnInvalid"
  />
  @if (isbnInvalid) {
  <small id="isbn-error">The ISBN is invalid.</small>
  }

  <fieldset>
    <legend>Authors</legend>
    <button type="button" (click)="addAuthorControl()">Add Author</button>
    <div role="group">
      @for (authorControl of c.authors.controls; track $index) {
      <input
        type="text"
        [attr.aria-label]="'Author ' + $index + 1"
        [formControl]="authorControl"
      />
      }
    </div>
  </fieldset>

  <label for="description">Description</label>
  <textarea id="description" [formControl]="c.description"></textarea>

  <label for="imageUrl">Thumbnail URL</label>
  <input type="url" id="imageUrl" [formControl]="c.imageUrl" />

  <button type="submit" [disabled]="bookForm.invalid">Save</button>
</form>
